:root {
    --desertStorm: #fdfdf7;
    --foggyMist: #ededed;
    --midnightAsh: #333438;
    --slateShadow: #47484c;
    --cloudGrey: #94969e;
    --ivoryMist: #fdfdf7;
    --ironOre: #85898a;
    --oceanBreeze: #5f9ea0;
    --spaceGrey: #D9D9D9;

    /* padding */
    --mobilePadding: 0 1rem;
    --desktopPadding: 0 2rem;
    --sectionPadding: 3rem 1rem;

    /* Margin Bottom Values */
    --font-size__700: 5.61rem;
    /* Equivalent to h1 */
    --font-size__600: 4.209rem;
    /* Equivalent to h2 */
    --font-size__500: 3.157rem;
    /* Equivalent to h3 */
    --font-size__400: 2.369rem;
    /* Equivalent to h4 */
    --font-size__300: 1.777rem;
    /* Equivalent to h5 */
    --font-size__200: 1.333rem;
    /* Equivalent to h6 */
    --font-size__100: 1rem;
    /* Equivalent to p */
    --font-size__050: 0.75rem;
    /* Equivalent to small */
    --font-size__025: 0.563rem;
    /* Extra small */

    font-size: 1rem;

    /* Raw size variables */

    --md: 1em;
    /* It's okay to use em here because the root font size
                    has been manually set to 1rem */

    --scaleFactor: 1.618;

    --sm: calc(var(--md) / var(--scaleFactor));
    --xs: calc(var(--sm) / var(--scaleFactor));
    --xxs: calc(var(--xs) / var(--scaleFactor));

    --lg: calc(var(--md) * var(--scaleFactor));
    --xl: calc(var(--lg) * var(--scaleFactor));
    --xxl: calc(var(--xl) * var(--scaleFactor));
    --xxxl: calc(var(--xxl) * var(--scaleFactor));

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    /* Apply the Google Font */
}

body {
    background-color: var(--desertStorm);
}

/* contact information */
.contact {
    display: flex;
    flex-direction: column;
}

.contact .map {
    height: 40svh;
}

.map img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact-information{
    display: flex;
    flex-direction: column;
    padding: var(--xl) var(--lg); /* mobile padding */
    gap: var(--lg);
}

.contact .contact-items {
    display: flex;
    flex-direction: column;
    gap: var(--md);
}

.contact-item {
    display: flex;
    flex-direction: row;
    gap: var(--md);
}

.icon {
    background-color: var(--foggyMist);
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--xl);
    width: var(--xl);
    border-radius: var(--sm);
}

.contact-item img {
    height: var(--lg);
    width: var(--lg);
}

.contact .label {
    color: var(--ironOre);
}

.contact h1 {
    /* background-color: orange; */
    color: var(--midnightAsh);
    font-size: var(--font-size__500);
}

.contact .info {
    display: flex;
    flex-direction: column;
}

.contact a,
.contact .details {
    text-decoration: none;
    color: var(--midnightAsh);
    
}

/* contact form */
.contact-form .container {
    background-color: var(--foggyMist);
    display: flex;
    flex-direction: column;
    gap: var(--lg);
    padding: var(--xl) var(--lg);
}

.contact-form h1 {
    font-size: var(--font-size__400);
    color: var(--midnightAsh);
}

.form-items {
    display: grid;
    gap: var(--md);
}

.form-item {
    position: relative;
}

.contact-form label {
    font-size: var(--font-size__050);
    color: var(--cloudGrey);
}

.contact-form input,
.contact-form textarea{
    width: 100%;
    padding: var(--md);
    border-radius: var(--md);
    font-size: var(--font-size__100);
    background-color: var(--desertStorm);
    border: none;
    transition: 0.15s all ease;
}  

.contact-form input::placeholder,
.contact-form textarea::placeholder{
    color: transparent;
}

.contact-form label {
    position: absolute;
    top: var(--md);
    left: var(--md);
    font-size: var(--font-size__100);
    pointer-events: none;
    transition: 0.15s all ease;
}

.contact-form input:focus ~ label,
.contact-form textarea:focus ~ label,
.contact-form input:not(:placeholder-shown) ~ label,
.contact-form textarea:not(:placeholder-shown) ~ label {
    transform: translate(0px, -28px);
    background-color: #fdfdf7;
    padding: 1px 4px;
    border-radius: var(--xs);
}

input,
textarea,
button { /* Removes the tap highlight */
    -webkit-appearance: none; /* Disables default styles on iOS */
    appearance: none; /* Disables default styles on other platforms */
}

input,
textarea {
    -webkit-tap-highlight-color: transparent;
}
input:focus,
textarea:focus,
button:focus {
    outline: none; /* Removes the focus outline */
    box-shadow: none; /* Removes any shadow */
    border-color: transparent; /* Optional: Removes the border color */
}

.contact-form textarea {
    resize: vertical; /* Allows vertical resizing only */
    height: 15rem; /* Set a default height */
}

.submit-btn {
    width: 100%;
    padding: var(--md);
    font-weight: bold;
    font-size: var(--font-size__100);
    background-color: var(--oceanBreeze);
    border-radius: var(--lg);
    color: var(--desertStorm);
    border: none;
    font-size: fo;
}

@media (width >=768px) {
    .container {
        position: relative;
        padding: 0 0rem;
        max-width: 75rem;
        margin: 0 auto;
        width: 100%;
    }
    
}