img {
    height: 100%;
    width: 100%;
}

/* about banner */
#about-banner .container{
    display: flex;
    flex-direction: column;
    padding: var(--xxxl) var(--lg);
    padding-top: var(--xxxl);
}
#about-banner .about-title {
    padding-bottom: var(--xl);
}

#about-banner .video-container {
    display: flex;
    flex-direction: column;
    gap: var(--md);
}

#about-banner .video-frame {
    border-radius: var(--md);
    width: 100%; /* Full width of the container */
    height: 30rem; /* Fixed height */
    overflow: hidden; /* Ensures the cropped content is hidden */
    position: relative;
}

#about-banner iframe {
    position: absolute; /* Allows positioning inside the container */
    top: 0;
    left: 50%; /* Start positioning from the center of the container */
    transform: translateX(-50%); /* Shift the iframe left by half its width to center it */
    width: 75rem; /* Fixed width for the video */
    height: 100%;
}

#about-banner .video-subheading {
    display: grid;
    gap: var(--md);
}

#about-banner h1 {
    font-size: var(--font-size__600);
    color: var(--midnightAsh);
}

#about-banner .brand{
    color: var(--cloudGrey);
    font-size: var(--font-size__100);
    font-weight: 700;
}

#about-banner .description{
    color: var(--midnightAsh);
    font-size: var(--font-size__100);
    font-weight: 700;
}

/* mission */
#mission {
    background-color: var(--foggyMist);
}

#mission .container {
    display: grid;
    gap: var(--md);

    padding: var(--xxxl) var(--lg);
}

#mission .mission-description {
    display: flex;
    flex-direction: column;
    gap: var(--md);
}

#mission img {
    border-radius: var(--md);
    height: 15rem;
    width: 100%;
    object-fit: cover;
}
#mission h1 {
    color: var(--midnightAsh);
    font-size: var(--font-size__400);
    font-weight: 700;
}
#mission p {
    color: var(--midnightAsh);
    font-size: var(--font-size__100);
    font-weight: 500;
}

/* story */
#story {
    background-color: var(--desertStorm);
}

#story .container {
    display: grid;
    gap: var(--md);
    grid-template-columns: 1fr 1fr;
    padding: var(--xxxl) var(--lg);
}

#story .picture-1 {
    grid-column: span 2;
}

#story .story-description {
    display: grid;
    gap: var(--md);
    grid-column: span 2;
}

#story img {
    border-radius: var(--md);
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#story h1 {
    color: var(--midnightAsh);
    font-size: var(--font-size__400);
    font-weight: 700;
}

#story p {
    color: var(--midnightAsh);
    font-size: var(--font-size__100);
    font-weight: 500;
}

/* vision */
#vision {
    background-color: var(--midnightAsh);
}
#vision .container {
    display: grid;
    gap: var(--xl);
    padding: var(--xxxl) var(--lg);
    color: var(--desertStorm);
}

#vision .description {
    display: flex;
    flex-direction: column;
    gap: var(--md);
}

.icon {
    background-color: #D9D9D9;
}

.icon svg {
    fill: var( --oceanBreeze);
}

#vision .cards {
    display: grid;
    gap: var(--md);
}

#vision .card-item {
    display: grid;
    gap: var(--md);

    background-color: var(--slateShadow);
    border-radius: var(--md);
    padding: var(--xl) var(--lg);
}
#vision h1 {
    font-size: var(--font-size__400);
    font-weight: 700;
}

#vision h2 {
    font-size: var(--font-size__300);
    font-weight: 700;
    color: var(--desertStorm);
}

#vision p {
    font-size: var(--font-size__100);
    font-weight: 500;
    color: var(--desertStorm);
}

@media (width >=768px) {
    #about-banner {
        padding: 0% var(--xl);
    }

    #about-banner .container {
        padding-left: 0%;
        padding-right: 0%;
    }

    #about-banner .video-subheading {
        grid-template-columns: 1fr 1fr;
    }

    /* mission */
    #mission {
        padding: 0% var(--xl);
    }
    #mission .container {
        padding-left: 0%;
        padding-right: 0%;
        grid-template-columns: 1fr 1fr;
        gap: var(--xl);
    }

    #mission img {
        height: 30rem;
    }
    
    /* story */
    #story {
        padding: 0% var(--xl);
    }
    
    #story .container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding-left: 0%;
        padding-right: 0%;
    }

    #story .story-description {
        grid-column: 1 / -1;
    }

    /* vision */
    #vision {
        padding: 0% var(--xl);
    }

    #vision .container {
        grid-template-columns: 1fr 1fr;
        padding-left: 0%;
        padding-right: 0%;
    }
    
}