/* contact information */
#contact {
    display: flex;
    flex-direction: column;
}

#contact .map {
    height: 40svh;
}

.map img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact-information {
    display: flex;
    flex-direction: column;
    padding: var(--xl) var(--lg);
    gap: var(--xl);
    padding-bottom: var(--xxxl);
}

#contact .contact-items {
    display: flex;
    flex-direction: column;
    gap: var(--md);
}

.contact-item {
    display: flex;
    flex-direction: row;
    gap: var(--md);
}

.icon {
    background-color: var(--foggyMist);
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--xl);
    width: var(--xl);
    border-radius: var(--sm);
}

.contact-item img {
    height: var(--lg);
    width: var(--lg);
}

#contact .label {
    color: var(--ironOre);
}

#contact h1 {
    color: var(--midnightAsh);
    font-size: var(--font-size__600);
    font-weight: 700;
}

p,
a {
    font-size: var(--font-size__100);
    font-weight: 500;
}

#contact .info {
    display: flex;
    flex-direction: column;
}

#contact a,
#contact .details {
    text-decoration: none;
    color: var(--midnightAsh);
    
}

/* contact form */
.form-section  .container {
    background-color: var(--foggyMist);
    display: flex;
    flex-direction: column;
    gap: var(--md);
    padding: var(--xxxl) var(--lg);
}

.form-section  h1 {
    font-size: var(--font-size__400);
    font-weight: 700;
    color: var(--midnightAsh);
}

.form-items {
    display: grid;
    gap: var(--md);
}

.form-item {
    position: relative;
}

.form-section  label {
    font-size: var(--font-size__050);
    color: var(--cloudGrey);
}

.form-section  input,
.form-section  textarea{
    width: 100%;
    padding: var(--md);
    border-radius: var(--md);
    font-size: var(--font-size__100);
    font-weight: 500;
    color: var(--midnightAsh);
    background-color: var(--desertStorm);
    border: none;
    transition: 0.15s all ease;
}  

.form-section  input::placeholder,
.form-section  textarea::placeholder{
    color: transparent;
}

.form-section  label {
    position: absolute;
    top: var(--md);
    left: var(--md);
    font-size: var(--font-size__100);
    pointer-events: none;
    transition: 0.15s all ease;
}

.form-section  input:focus ~ label,
.form-section  textarea:focus ~ label,
.form-section  input:not(:placeholder-shown) ~ label,
.form-section  textarea:not(:placeholder-shown) ~ label {
    transform: translate(0px, -28px);
    background-color: var(--desertStorm);
    padding: 1px 5px;
    border-radius: var(--sm);
}

.form-section .text{
    display: flex;
    flex-direction: column;
    gap: var(--md);
}

.form-section p {
    font-size: var(--font-size__100);
    color: var(--cloudGrey);
}

input,
textarea,
button {
    -webkit-appearance: none;
    appearance: none;
}

input,
textarea {
    -webkit-tap-highlight-color: transparent;
}
input:focus,
textarea:focus,
button:focus {
    outline: none; 
    box-shadow: none;
    border-color: transparent;
}

.form-section  textarea {
    resize: vertical;
    height: 18rem;
}

.submit-btn {
    width: 100%;
    padding: var(--md);
    font-size: var(--font-size__100);
    font-weight: 700;
    background-color: var(--oceanBreeze);
    border-radius: var(--lg);
    color: var(--desertStorm);
    border: none;
}



@media (width >=768px) {
    p,
    a {
        font-size: var(--font-size__100);
    }
    #contact {
        padding: var(--xl) var(--xl);
        padding-top: var(--xxxl);
        padding-bottom: var(--xxxl);
    }
    #contact .contact-information {
        padding: 0;
    }

    #contact .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #contact .map {
        padding-top: var(--md);
        height: 30rem;
        order: 1;
    }

    #contact .map img {
        border-radius: var(--md);
    }

    #contact h1 {
        color: var(--midnightAsh);
        font-size: var(--font-size__700);
        font-weight: 700;
    }

    /* contact-form */
    .form-section {
        padding: 0% var(--xl);
        padding-bottom: var(--xxxl);
    }

    .form-section .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: var(--xl);
        border-radius: var(--lg);
    }

    .form-section .form-items {
        grid-column: 2;
    }

    .form-section  h1 {
        font-size: var(--font-size__500);
        font-weight: 700;
        color: var(--midnightAsh);
    }


    /* #contact {
        padding: var(--xxxl) var(--xl);
    }

    #contact .container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    #contact .map {
        height: 30rem;
        max-width: 22rem;
    }

    .map img {
        border-radius: var(--lg);
    }

    .contact-information {
        padding: 0rem;
    }
    #contact h1 {
        font-size: var(--font-size__600);
    }

    .form-section  {
        padding: var(--xxxl) var(--xl);
    }

    .form-section  .container {
        border-radius: var(--md);
        padding: var(--xl) var(--xl);
    } */
}