.medium-padding {
    padding: 1rem;
}

.large-padding {
    padding: 2rem;
}

body {
    background-color: var(--desertStorm);
}

img {
    width: 100%;
    height: 100%;
}

video {
    width: 100%;
    height: 100%;
}

h1 {
    margin-bottom: var(--lg);
    font-size: var(--font-size__400);
}

h2 {
    margin-bottom: var(--md);
    font-size: var(--font-size__300);
}

p {
    font-size: var(--font-size__100);
    font-weight: 600;
}

.accent {
    color: var(--cloudGrey);
}

/* hero */
#hero {
    position: relative;
    width: auto;
    height: 90vh;
    /* Full screen height */
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: var(--xxl);
}

#hero .section {
    display: grid;
    gap: var(--xxl);
}

.hero-buttons {
    display: grid;
    gap: var(--md);
}

#hero .container {
    display: flex;
    flex-direction: column;
    gap: var(--lg);
    padding: var(--mobilePadding);
}

/* Hero Image */
#hero picture img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensures the image fills the container without distortion */
    object-position: 75% center;
    z-index: -1;
    /* Sends image to the background */
}

/* Hero Heading */
#hero h1 {
    color: var(--desertStorm);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    margin-bottom: 0;
}

/* services */
#services {
    padding: var(--mobilePadding);
    text-align: center;
}

#services .container {
    background-color: var(--foggyMist);
    border-radius: var(--lg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 2rem;
    gap: var(--lg);
}

#services .card {
    height: auto;
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-box {
    background-color: var(--midnightAsh);
    height: 4rem;
    width: 4rem;
    padding: .5rem;
    font-size: 0;
    border-radius: 0.5rem;
    margin-bottom: .5rem;
}

#services h1 {
    color: var(--midnightAsh);
    font-size: var(--font-size__300);
    white-space: pre-line;
}

#services h2 {
    color: var(--midnightAsh);
    font-size: var(--font-size__200);
    margin-bottom: 0;
}

#services p {
    color: var(--cloudGrey);
    font-size: var(--font-size__100);
}

/* hook */

#hook {
    background-image: url(../images/hook-background-mobile.png);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: var(--sectionPadding);
    background-color: var(--midnightAsh);
}

#hook .container {
    display: grid;
    gap: var(--md);
}

.glass-container {
    border-radius: var(--lg);
    background-color: rgba(255, 255, 255, 0.062);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(20px);

    border-top: 2px solid rgba(255, 255, 255, 0.321);
    border-left: 2px solid rgba(255, 255, 255, 0.236);
    border-bottom: 2px solid rgba(238, 146, 254, 0.323);
    border-right: 2px solid rgba(238, 146, 254, 0.323);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.146);

    padding: 3rem 2rem;
    width: 100%;
    height: auto;
    z-index: 1;
    display: grid;
}

.video-container {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hook video {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: var(--lg);
}

#hook h2 {
    color: var(--desertStorm);
    font-size: var(--font-size__400);
}

#hook p {
    color: var(--desertStorm);
    font-size: var(--font-size__200);
}

/* benefits */

.benefits .container {
    display: grid;
    padding: var(--mobilePadding);
    gap: var(--xl);
}

.benefits img {
    width: 100%;
    height: 30svh;
    object-fit: cover;
    border-radius: 1.5rem;
}

.benefits h2 {
    font-size: var(--font-size__400);
    margin-bottom: var(--xxs);
}

.benefits p {
    color: var(--ironOre);
    font-size: var(--font-size__200);
}

/* reviews */

#reviews {
    background-color: var(--foggyMist);
    padding: var(--sectionPadding);
}

#reviews .container {
    display: grid;
    gap: var(--md);
    /* justify-content: center; */
    grid-template-columns: repeat(auto-fit, minmax(min(15rem, 100%), 1fr));
}

.review-card {
    border-radius: var(--lg);
    box-shadow: 0rem 0rem 3rem 0rem rgba(0, 0, 0, 0.217);
    padding: var(--xl) var(--lg);
    height: 100%;
    position: relative;
}

#reviews img {
    width: var(--xxl);
    height: auto;
    margin-bottom: var(--md);
}

.profile-name {
    display: flex;
    justify-content: space-between;
    color: var(--cloudGrey);
}

.profile-name img {
    height: var(--md);
    width: auto;
    position: absolute;
    bottom: 1.88rem;
    right: var(--md);
}

#reviews h1 {
    grid-column: 1 / -1;
    margin-bottom: var(--md);
}

.quote {
    font-weight: 900;
}

#reviews p {
    font-size: var(--font-size__100);

    margin-bottom: var(--xl);
    color: var(--midnightAsh);
    font-weight: 600;
    font-style: italic;
}

.profile-name p {
    font-style: normal;
}

#reviews .profile-name p {
    color: var(--cloudGrey);
    margin-bottom: 0;
    position: absolute;
    bottom: var(--xl);
    width: 50%;
}

/* locations */

#locations {
    padding: var(--sectionPadding);
}

#locations .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--md);
}

#locations .container> :first-child {
    grid-column: span 2;
}

#locations .location-1 {
    grid-column: span 2;
}

#locations img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    border-radius: 1.5rem;
    margin-bottom: var(--md);
}

.location-1 {
    background-image: url(../images/location1.webp);
}

.location-2 {
    background-image: url(../images/location2.webp);
}

.location-3 {
    background-image: url(../images/location3.webp);
}

#locations .location-card {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 40vh;
    object-fit: cover;
    border-radius: var(--lg);
    margin-bottom: var(--md);

    display: flex;
    flex-direction: column;
    justify-content: end;

    color: var(--desertStorm);
    padding: 0 var(--lg);
}

.desktop {
    display: none;
}

/* frequently asked questions */
.faq {
    padding: var(--sectionPadding);
}

.faq .faq-container {
    display: flex;
    gap: var(--lg);
    cursor: pointer;
    border-bottom: 1px solid var(--cloudGrey);
    margin-bottom: var(--lg);
}

.faq-container:hover .number h3,
.faq-container:hover h2 {
    color: var(--midnightAsh);
    /* Change this to your desired hover color */
}


.number {
    display: flex;
}

.faq h1 {
    color: var(--midnightAsh);
}

.faq h3 {
    margin-top: 0.25rem;
    color: var(--cloudGrey);
    transition: all 0.2s linear;
    font-weight: 400;
}

.faq h2 {
    /* border: solid red; */
    color: var(--cloudGrey);
    transition: all 0.2s linear;
}

.answer p {
    margin-bottom: var(--lg);
    color: var(--cloudGrey);
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
}

.faq-container.active .answer {
    /* max-height: 300px; */
    color: var(--cloudGrey);
}

.faq-container.active h2,
.faq-container.active h3 {
    color: var(--midnightAsh);
}

/* call-to-action */

.call-to-action {
    background-color: var(--foggyMist);
    display: flex;
    flex-direction: column;
    gap: var(--xl);
    padding: 0rem;
}

.call-to-action .container {
    padding: var(--sectionPadding);
    width: 100%;
}

.call-to-action h1 {
    color: var(--midnightAsh);
    margin-bottom: var(--xs);
}

.call-to-action p {
    color: var(--ironOre);
    font-size: var(--font-size__200);
    margin-bottom: var(--xl);
}

.button-1 {
    display: block;
    /* Ensures the button takes full width */
    text-align: center;
    /* Centers the text inside the button */
    border: none;
    width: 100%;
    background-color: var(--oceanBreeze);
    color: var(--desertStorm);
    border-radius: var(--xxl);
    padding: var(--md);
    text-decoration: none;
    /* Removes underline */
}

.button-1 h2 {
    margin-bottom: 0;
    font-size: var(--font-size__200);
    color: inherit;
    /* Inherits the color from the parent element (button-1) */
}

/* Optional: Add hover effect */
.button-1:hover {
    background-color: #4e8687;
    /* Define a hover variable or color */
    cursor: pointer;
}

.button-2 {
    display: block;
    /* Ensures the button takes full width */
    text-align: center;
    /* Centers the text inside the button */
    border: none;
    width: 100%;
    background-color: transparent;
    color: var(--desertStorm);
    border-radius: var(--xxl);
    padding: var(--md);
    text-decoration: none;
    /* Removes underline */
    border: 0.25rem solid var(--desertStorm);
}

.button-2 h2 {
    margin-bottom: 0;
    font-size: var(--font-size__200);
    color: inherit;
    /* Inherits the color from the parent element (button-1) */
}

/* Optional: Add hover effect */
.button-2:hover {
    background-color: var(--desertStorm);
    /* Define a hover variable or color */
    cursor: pointer;
    color: var(--midnightAsh);
}


.call-to-action .picture {
    width: 100%;
    height: 45svh;
    position: relative;
}

.gradient {
    height: 100%;
    width: 100%;
    background-color: black;
    position: absolute;
    /* Gradient from blue to green, going from top to bottom */
    background: linear-gradient(to top, #ededed00 30%, #ededed 100%);

}

.call-to-action img {
    object-fit: cover;
}

/* Fallback for mobile/touch devices */
@supports (-webkit-touch-callout: none) {
    #hook {
        background-attachment: scroll;
    }
}

@media (width >=768px) {
    .logo img {
        max-height: 2rem;
        width: auto;
    }
    /* hero */
    #hero {
        padding-bottom: var(--xxxl);
        padding: var(--desktopPadding);
        padding-bottom: var(--xxl);
    }

    #hero .container {
        padding: 0;
    }

    #hero .section {
        display: grid;
        max-width: 40rem;
        gap: var(--md);
    }

    #hero h1 {
        font-size: var(--font-size__600);
    }

    #hero-buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--md);
    }

    /* services */
    #services {
        padding: var(--desktopPadding)
    }

    #services .container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .icon-box {
        height: 10rem;
        width: 10rem;
        padding: 2rem;
        border-radius: 1.5rem;
    }

    #services .card {
        max-width: 12rem;
        display: flex;
        align-items: flex-start;
        text-align: left;
    }

    #services h1 {
        white-space: normal;
        font-size: var(--font-size__400);
    }

    #services h2 {
        font-size: var(--font-size__300);
    }

    /* hook */

    #hook {
        background-image: url(../images/hook-background-desktop.png);
        padding: 3rem 2rem;
        /* section desktop padding */
    }

    #hook .container {
        display: flex;
        flex-direction: row;
    }

    .glass-container {
        width: 100%;
        border-top: 2px solid rgba(255, 255, 255, 0.321);
        border-left: 2px solid rgba(255, 255, 255, 0.236);
        border-bottom: 2px solid rgba(146, 247, 254, 0.323);
        border-right: 2px solid rgba(194, 251, 255, 0.323);

        display: flex;
        flex-direction: column;

        padding: var(--xxl) var(--xxl);
    }

    .video-container {
        max-width: 18rem;
    }

    #hook video {
        object-fit: contain;
    }

    /* benefits */
    .benefits {
        padding: var(--desktopPadding);
    }

    .benefits .container {
        padding: 0rem;
    }

    .benefits .service-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--xl);
    }

    .benefits .service-card-reversed {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--xl);
        grid-template-areas: "text image";
    }

    .service-card-reversed .text {
        grid-area: text;
        /* Text in the first column */
    }

    .service-card-reversed picture {
        grid-area: image;
        /* Image in the second column */
    }

    .benefits img {
        width: 1fr;
    }

    /* reviews */
    #reviews {
        padding: 3rem 2rem;
        /* desktop section padding */
    }

    #reviews .container {
        grid-template-columns: repeat(auto-fit, minmax(min(16rem, 100%), 1fr));
    }

    /* locations */
    #locations {
        padding: 3rem 2rem;
    }

    #locations .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .desktop {
        display: block;
    }

    #locations .container> :first-child {
        grid-column: span 4;
    }

    #locations .container> :nth-child(5) {
        /* Your styles for the fourth child */
        grid-column: span 2;
    }

    .location-card {
        color: transparent;
    }

    /* frequently asked questions */
    .faq {
        padding: 3rem 2rem;
    }
    .faq .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .faq .container> :first-child {
        grid-column: span 3;
    }

    .faq .container> :nth-child(2) {
        grid-column: 2 / span 2;
    }

    
    /* call to action */
    .cta-padding {
        padding: var(--desktopPadding);
    }

    .call-to-action {
        display: flex;
        flex-direction: row;
        position: relative;
        max-width: 75rem;
        margin: 0 auto;
        width: 100%;
        border-radius: var(--lg);
        margin-bottom: var(--xxl);
        padding: 3rem 2rem;
        gap: 0rem;
    }
    .call-to-action .container {
        padding-right: 3rem;
    }

    .call-to-action .picture {
        padding: 0rem;
    }

    .call-to-action img {
        border-radius: var(--lg);
    }

    .gradient {
        display: none;
    }
    
}