img {
    width: 100%;
    height: 100%;
}

video {
    width: 100%;
    height: 100%;
}

/* hero */
#hero {
    position: relative;
    width: 100%;
    height: 95svh;
}

#hero .hero-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: var(--md);

    height: 95svh;
    padding: var(--xl) var(--lg);
}

#hero .buttons {
    display: flex;
    flex-direction: column;
    gap: var(--md);
}

#hero .gradient {
    z-index: 0;
    height: 100%;
    width: 100%;
    right: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to bottom, transparent 30%, rgba(0, 0, 0, 0.526) 100%);
}

#hero picture img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 75% center;
    z-index: -1;
}

#hero h1 {
    color: var(--desertStorm);
    font-size: var(--font-size__600);
}

/* services */
#services {
    padding: var(--xxxl) var(--lg);
    text-align: center;
}

#services .container {
    display: grid;
    gap: var(--xl);
}

#services .services-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: var(--lg);

    background-color: var(--foggyMist);
    border-radius: var(--lg);
    padding: var(--xl) var(--lg);
}

#services .card {
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#services .icon-box {
    background-color: var(--midnightAsh);
    display: flex;
    height: var(--xxl);
    width: var(--xxl);
    justify-content: center;
    align-items: center;
    border-radius: var(--md);
}

#services img {
    height: var(--xl);
    width: var(--xl);
}

#services h1 {
    color: var(--midnightAsh);
    font-size: var(--font-size__400);
    white-space: pre-line;
}

#services h2 {
    color: var(--midnightAsh);
    font-size: var(--font-size__200);
}

#services p {
    color: var(--cloudGrey);
    font-size: var(--font-size__100);
}

/* hook */
#hook {
    background-image: url(../images/hook-background-mobile.png);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: var(--midnightAsh);
    padding: var(--xxxl) var(--lg);
}

#hook .container {
    display: grid;
    gap: var(--md);
}

.glass-container {
    border-radius: var(--lg);
    background-color: rgba(255, 255, 255, 0.062);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(20px);

    border-top: 2px solid rgba(255, 255, 255, 0.321);
    border-left: 2px solid rgba(255, 255, 255, 0.236);
    border-bottom: 2px solid rgba(238, 146, 254, 0.323);
    border-right: 2px solid rgba(238, 146, 254, 0.323);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.146);

    padding: var(--xl) var(--lg);
    width: 100%;
    height: auto;
    z-index: 1;
    display: grid;
    gap: var(--md);
}

.video-container {
    display: grid;
    gap: var(--md)
}

#hook video {
    height: 30rem;
    object-fit: cover;
    border-radius: var(--md);
}

#hook h1 {
    color: var(--desertStorm);
    font-size: var(--font-size__400);
}

#hook p {
    color: var(--desertStorm);
    font-size: var(--font-size__100);
}

/* benefits */
#benefits .container {
    display: grid;
    gap: var(--xxl);

    padding: var(--xxxl) var(--lg);
}

#benefits .service-card,
#benefits .service-card-reversed {
    display: grid;
    gap: var(--md);
}

#benefits .text {
    display: grid;
    gap: var(--md);
}

#benefits img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    border-radius: 1.5rem;
}

#benefits h2 {
    font-size: var(--font-size__500);
    color: var(--midnightAsh);
}

#benefits p {
    color: var(--ironOre);
    font-size: var(--font-size__100);
}

/* reviews */
#reviews {
    background-color: var(--foggyMist);

}

#reviews .container {
    display: flex;
    flex-direction: column;
    gap: var(--xl);
    padding: var(--xxxl) var(--lg);
}

#reviews .reviews-container {
    display: grid;
    gap: var(--md);
    grid-template-columns: repeat(auto-fit, minmax(min(15rem, 100%), 1fr));
}

#reviews picture img {
    width: var(--xxl);
    height: var(--xxl);
}

#reviews .review-card {
    display: flex;
    flex-direction: column;
    gap: var(--md);


    border-radius: var(--lg);
    box-shadow: 0rem 0rem 3rem 0rem rgba(0, 0, 0, 0.217);
    padding: var(--xl) var(--lg);
    position: relative;
}

#reviews .text {
    height: calc(100% - var(--xxl));
    display: flex;
    gap: var(--md);
    flex-direction: column;
    justify-content: space-between;
}

#reviews .profile-name {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#reviews .profile-name img {
    width: var(--xxl);
}

#reviews h1 {
    color: var(--midnightAsh);
    font-size: var(--font-size__500);
}

#reviews p {
    font-size: var(--font-size__100);
    color: var(--midnightAsh);
    font-weight: 600;
    font-style: italic;
}

#reviews .profile-name p {
    font-size: var(--font-size__100);
    color: var(--cloudGrey);
    font-weight: 600;
    font-style: normal;
}

/* locations */
#locations .container {
    display: flex;
    flex-direction: column;
    gap: var(--xl);

    padding: var(--xxxl) var(--lg);
    padding-bottom: 0;
}

#locations .location-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--md);
}

#locations .location-1 {
    grid-column: span 2;
}

#locations .location-2,
#locations .location-3 {
    grid-column: span 1;
}

#locations h1 {
    grid-column: span 2;
}

.location-1 {
    background-image: url(../images/location1.webp);
}

.location-2 {
    background-image: url(../images/location2.webp);
}

.location-3 {
    background-image: url(../images/location3.webp);
}

#locations .location-card {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 15rem;
    object-fit: cover;
    border-radius: var(--md);

    display: flex;
    flex-direction: column;
    justify-content: end;

    color: var(--desertStorm);
    padding: var(--md);
}

#locations h1{
    font-size: var(--font-size__500);
    color: var(--midnightAsh);
}

#locations h2{
    font-size: var(--font-size__200);
    color: var(--desertStorm);
}

#locations .desktop {
    display: none;
}

/* Fallback for mobile/touch devices */
@supports (-webkit-touch-callout: none) {
    #hook {
        background-attachment: scroll;
    }
}

@media (width >=768px) {
    #hero {
        padding: 0 var(--xl)
    }

    #hero .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: end;

    }

    #hero .hero-container {
        padding-left: 0;
        padding-right: 0;
    }

    #hero .buttons {
        flex-direction: row;
    }

    #hero .gradient {
        background: linear-gradient(to left, transparent 30%, rgba(0, 0, 0, 0.526) 100%);
    }

    /* services */
    #services .services-container {
        flex-direction: row;
    }

    #services .icon-box {
        height: var(--xxxl);
        width: var(--xxxl);
    }
    #services img {
        height: var(--xxl);
        width: var(--xxl);
    }
    #services h1 {
        white-space: normal;
    }

    /* hook */
    #hook .video-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #hook video {
        grid-column: span 2;
    }


    /*
    .logo img {
        max-height: 2rem;
        width: auto;
    }

    #services {
        padding: var(--desktopPadding)
    }

    #services .container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .icon-box {
        height: 10rem;
        width: 10rem;
        padding: 2rem;
        border-radius: 1.5rem;
    }

    #services .card {
        max-width: 12rem;
        display: flex;
        align-items: flex-start;
        text-align: left;
    }

    #services h1 {
        white-space: normal;
        font-size: var(--font-size__400);
    }

    #services h2 {
        font-size: var(--font-size__300);
    }


    #hook {
        background-image: url(../images/hook-background-desktop.png);
        padding: 3rem 2rem;
    }

    #hook .container {
        display: flex;
        flex-direction: row;
    }

    .glass-container {
        width: 100%;
        border-top: 2px solid rgba(255, 255, 255, 0.321);
        border-left: 2px solid rgba(255, 255, 255, 0.236);
        border-bottom: 2px solid rgba(146, 247, 254, 0.323);
        border-right: 2px solid rgba(194, 251, 255, 0.323);

        display: flex;
        flex-direction: column;

        padding: var(--xxl) var(--xxl);
    }

    .video-container {
        max-width: 18rem;
    }

    #hook video {
        object-fit: contain;
    }


    #benefits {
        padding: var(--desktopPadding);
    }

    #benefits .container {
        padding: 0rem;
    }

    #benefits .service-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--xl);
    }

    #benefits .service-card-reversed {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--xl);
        grid-template-areas: "text image";
    }

    .service-card-reversed .text {
        grid-area: text;
    }

    .service-card-reversed picture {
        grid-area: image;
    }

    #benefits img {
        width: 1fr;
    }


    #reviews {
        padding: 3rem 2rem;
    }

    #reviews .container {
        grid-template-columns: repeat(auto-fit, minmax(min(16rem, 100%), 1fr));
    }


    #locations {
        padding: 3rem 2rem;
    }

    #locations .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .desktop {
        display: block;
    }

    #locations .container> :first-child {
        grid-column: span 4;
    }

    #locations .container> :nth-child(5) {
        grid-column: span 2;
    }

    .location-card {
        color: transparent;
    } */
}