img {
    width: 100%;
    height: 100%;
}

video {
    width: 100%;
    height: 100%;
}

/* hero */
#hero {
    position: relative;
    overflow: hidden;
    background-image: url('../images/home-mobile.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 40rem;
}

@keyframes floatLeftRight {
    0% {
        transform: translate(12%, -80%);
    }

    50% {
        transform: translate(8%, -80%);
    }

    100% {
        transform: translate(12%, -80%);
    }
}

#hero img {
    animation: floatLeftRight 10s ease-in-out infinite;
}


#hero img {
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(11%, -80%); */
    z-index: 0;
    height: 18rem;
    width: auto;
    overflow: hidden;
}

#hero .container {
    max-width: 27rem;
}

#hero .hero-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: var(--xl);

    height: 40rem;
    padding: var(--xl) var(--lg);
}

/* #hero .channel-letters {
    text-shadow:
        0px 0px 15px rgba(255, 255, 255, 0.6),
        0px 0px 40px rgba(250, 250, 250, 0.299);
} */

#hero .subtitle {
    display: none;
}

#hero .buttons {
    display: flex;
    flex-direction: column;
    gap: var(--md);
}

#hero .text-container {
    display: grid;
    justify-items: center;
    text-align: center;
}

#hero h1 {
    color: var(--desertStorm);
    font-size: var(--font-size__600);
    font-weight: 700;
}

#hero h2 {
    font-size: var(--font-size__300);
    color: var(--desertStorm);
    font-weight: 500;
}

/* services */
#services {
    padding: var(--xxxl) 0;
    text-align: center;
    display: grid;
    gap: var(--xl);
}

#services .container {
    padding: 0 var(--lg);
}

#services .services-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: var(--lg);
    padding: 0 var(--lg);
}

#services .card {
    scroll-snap-align: center;
}

#services .service-1,
#services .service-2,
#services .service-3 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    padding: var(--lg);
    border-radius: var(--md);
    width: 16rem;
    height: 28rem;
}

#services .service-1 {
    background-image: url('/images/service1.png');
    background-color: #11100c;
    color: var(--desertStorm);
}

#services .service-2 {
    background-image: url('/images/service2.png');
    color: var(--desertStorm);
}

#services .service-3 {
    background-image: url('/images/service3.png');
}

#services .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#services h1 {
    font-size: var(--font-size__400);
    font-weight: 700;
}

#services h2 {
    font-size: var(--font-size__300);
    font-weight: 700;
}

#services p {
    text-align: left;
    font-size: var(--font-size__100);
    font-weight: 500;
}

#services a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--xl);
    width: var(--xl);
    background-color: var(--ironOre);
    border-radius: 100rem;
}

#services svg {
    stroke: var(--desertStorm);
}

#hook {
    position: relative;
    z-index: 0;
    /* Ensure it stacks above the logo */
}

/* hook */
#hook {
    background-color: var(--midnightAsh);
    padding: var(--xxxl) var(--lg);
}

#hook .container {
    display: grid;
    gap: var(--md);
}

#hook .video-container {
    display: grid;
    gap: var(--lg)
}

#hook .video-subheading {
    display: grid;
    gap: var(--md);
}

#hook video {
    height: 30rem;
    object-fit: cover;
    border-radius: var(--md);
}

#hook h1 {
    color: var(--desertStorm);
    font-size: var(--font-size__400);
    font-weight: 700;
}

#hook p {
    color: var(--desertStorm);
    font-size: var(--font-size__100);
    font-weight: 700;
}

#hook .brand {
    color: var(--cloudGrey);
}

#hook span {
    font-weight: 800;
}

/* benefits */
#benefits .container {
    display: grid;
    gap: var(--xxl);

    padding: var(--xxxl) var(--lg);
}

#benefits .service-card,
#benefits .service-card-reversed {
    display: grid;
    gap: var(--md);
    align-items: center;
}

#benefits .text {
    display: flex;
    flex-direction: column;
    gap: var(--md);
}

#benefits img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    border-radius: 1.5rem;
}

#benefits h2 {
    font-size: var(--font-size__300);
    font-weight: 700;
    color: var(--midnightAsh);
}

#benefits p {
    font-size: var(--font-size__100);
    font-weight: 500;
    color: var(--midnightAsh);
}

/* reviews */
#reviews {
    background-color: var(--foggyMist);
}

#reviews .container {
    display: flex;
    flex-direction: column;
    gap: var(--xl);
    padding: var(--xxxl) var(--lg);
}

#reviews .reviews-container {
    display: grid;
    gap: var(--md);
    grid-template-columns: repeat(auto-fit, minmax(min(15rem, 100%), 1fr));
}

#reviews picture img {
    width: var(--xxl);
    height: var(--xxl);
}

#reviews .review-card {
    display: flex;
    flex-direction: column;
    gap: var(--md);

    border-radius: var(--lg);
    box-shadow: 0rem 0rem 3rem 0rem rgba(0, 0, 0, 0.217);
    padding: var(--xl) var(--lg);
    position: relative;
}

#reviews .text {
    height: calc(100% - var(--xxl));
    display: flex;
    gap: var(--md);
    flex-direction: column;
    justify-content: space-between;
}

#reviews .profile-name {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#reviews .profile-name img {
    width: var(--xxl);
}

#reviews h1 {
    color: var(--midnightAsh);
    font-size: var(--font-size__400);
}

#reviews p {
    font-size: var(--font-size__100);
    font-weight: 500;
    font-style: italic;
    color: var(--midnightAsh);
}

#reviews .profile-name p {
    color: var(--cloudGrey);
    font-style: normal;
}

/* locations */
#locations .container {
    display: flex;
    flex-direction: column;
    gap: var(--xl);

    padding: var(--xxxl) var(--lg);
    padding-bottom: 0;
}

#locations .location-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--md);
}

#locations .location-1 {
    grid-column: span 2;
}

#locations .location-2,
#locations .location-3 {
    grid-column: span 1;
}

#locations h1 {
    grid-column: span 2;
}

.location-1 {
    background-image: url(../images/location1.png);
}

.location-2 {
    background-image: url(../images/location2.png);
}

.location-3 {
    background-image: url(../images/location3.png);
}

#locations .location-card {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 15rem;
    object-fit: cover;
    border-radius: var(--md);

    display: flex;
    flex-direction: column;
    justify-content: end;

    color: var(--desertStorm);
    padding: var(--md);
}

#locations h1 {
    font-size: var(--font-size__400);
    font-weight: 700;
    color: var(--midnightAsh);
}

#locations h2 {
    font-size: var(--font-size__200);
    font-weight: 700;
    color: var(--desertStorm);
}

#locations .location-2 h2 {
    color: var(--midnightAsh);
}

#locations .desktop {
    display: none;
}

/* Fallback for mobile/touch devices */
@supports (-webkit-touch-callout: none) {
    #hook {
        background-attachment: scroll;
    }
}

@media (width >=768px) {

    /* hero */
    #hero {
        background-image: url('../images/home.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: scroll;
        padding-left: var(--xl);
        padding-right: var(--xl);
        height: 42rem;
    }

    @keyframes floatLeftRight {
        0% {
            transform: translate(4%, -47.5%);
        }

        50% {
            transform: translate(8%, -47.5%);
        }

        100% {
            transform: translate(4%, -47.5%);
        }
    }

    #hero .container {
        max-width: 40rem;
    }

    #hero img {
        height: 40rem;
    }

    #hero .buttons {
        flex-direction: row;
    }

    #hero h1 {
        font-size: var(--font-size__700);
    }

    #hero h2 {
        font-size: var(--font-size__400);
    }

    /* services */
    #services .services-container {
        position: relative;
        max-width: 75rem;
        margin: 0 auto;
        width: 100%;

        overflow: unset;
        scroll-snap-type: none;
    }

    #services .card {
        flex: unset;
        scroll-snap-type: none;
    }

    #services .service-1,
    #services .service-2,
    #services .service-3 {
        aspect-ratio: 9 / 16;
        width: 100%;
        height: auto;
    }

    #services h1 {
        font-size: var(--font-size__500);
    }

    #services h2 {
        font-size: var(--font-size__400);
    }

    #services p {
        font-size: var(--font-size__100);
    }

    /* hook */
    #hook {
        padding-left: var(--xl);
        padding-right: var(--xl);
    }

    /* #hook .video-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    } */

    /* #hook video {
        grid-column: span 2;
    } */
    #hook .mobile {
        display: none;
    }

    #hook .video-subheading {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #hook .description {
        grid-column: 2;
    }

    #hook h1 {
        font-size: var(--font-size__500);
    }

    #hook p {
        font-size: var(--font-size__100);
    }

    /* benefits */
    #benefits {
        padding: 0 var(--xl);
    }

    #benefits .container {
        padding-left: 0;
        padding-right: 0;
    }

    #benefits .service-card,
    #benefits .service-card-reversed {
        grid-template-columns: 1fr 1fr;
        gap: var(--xl);
    }

    #benefits .service-card-reversed img {
        order: 1;
        /* Reverse order for image */
    }

    #benefits .service-card-reversed .text {
        order: -1;
        /* Reverse order for text */
    }

    #benefits h2 {
        font-size: var(--font-size__400);
    }

    #benefits p {
        font-size: var(--font-size__100);
    }


    /* reviews */
    #reviews {
        padding: 0 var(--xl);
    }

    #reviews .container {
        padding-left: 0;
        padding-right: 0;
    }

    #reviews h1 {
        font-size: var(--font-size__500);
    }

    /* locations */
    #locations {
        padding: 0 var(--xl);
    }

    #locations .container {
        padding-left: 0;
        padding-right: 0;
    }

    #locations .location-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: var(--md);
    }

    #locations .location-1 {
        grid-column: span 2;
    }

    #locations .location-2 {
        grid-column: span 1;
    }

    #locations .location-3 {
        grid-column: span 1;
    }

    #locations .location-card {
        height: 30rem;
        padding: var(--lg);
    }

    #locations h1 {
        font-size: var(--font-size__500);
    }

    #locations h2 {
        font-size: var(--font-size__300);
    }

}