img {
    height: 100%;
    width: 100%;
}

#projects-title .container {
    display: flex;
    flex-direction: column;
    padding: var(--xl) var(--lg);
    padding-top: var(--xxxl);
    gap: var(--md);
}

#projects-title h1 {
    font-size: var(--font-size__600);
    font-weight: 700;
    color: var(--midnightAsh);
}

#projects-title p {
    color: var(--midnightAsh);
    font-size: var(--font-size__100);
    font-weight: 500;
}

/* grid */
#photos-grid .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(15rem, 100%), 1fr));
    padding: 0 var(--lg);
    gap: var(--lg);
    justify-content: center;
}

#photos-grid img {
    border-radius: var(--md);
}

@media (width >=768px) {
    /* projects-title */
    #projects-title {
        padding: 0 var(--xl);
    }

    #projects-title .container{
        padding-left: 0%;
        padding-right: 0%;
    }
    /* photos grid */
    #photos-grid {
        padding: 0 var(--xl);
    }
    
    #photos-grid .container {
        padding-left: 0%;
        padding-right: 0%;
    }
}