img {
    height: 100%;
    width: 100%;
}

#projects-title .container {
    display: flex;
    flex-direction: column;
    padding: var(--xl) var(--lg);
    gap: var(--md);
}

#projects-title h1 {
    font-size: var(--font-size__700);
    color: var(--midnightAsh);
}

#projects-title p {
    color: var(--midnightAsh);
}

/* grid */
#photos-grid .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(15rem, 100%), 1fr));
    padding: 0 var(--lg);
    gap: var(--lg);
    justify-content: center;
}

#photos-grid img {
    border-radius: var(--md);
}

@media (width >=768px) {
    /* #projects-title {
        padding: var(--xxxl) var(--xl);
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;

        padding: 0;
    }

    #projects-title p {
        font-size: var(--font-size__200);
    }


    #photos-grid {
        padding: var(--xxxl) var(--xl);
    }

    #photos-grid .container {
        padding: 0;
    } */
}